In [1]:
import pandas as pd
import plotly.express as px
import numpy as np
%matplotlib inline
from itertools import repeat
from urllib.request import urlopen
import html5lib
import ssl
import time

In [15]:
off78 = pd.read_html("https://www.pro-football-reference.com/years/NFL/index.htm")
comb_off = off78[0]
comb_off.columns = comb_off.columns.droplevel()
comb_off

,Rk,Year,Tms,PF,Yds,Ply,Y/P,TO,FL,1stD,...,1stD,Pen,Yds,1stPy,#Dr,Sc%,TO%,Plays,Yds,Pts
0,1,2021,32,23.0,343.6,63.3,5.4,1.3,0.5,20.3,...,6.7,5.9,51.0,1.8,10.8,37.8,11.5,6.04,31.7,2.05
1,2,2020,32,24.8,359.0,64.3,5.6,1.3,0.5,21.7,...,7.0,5.6,48.7,2.0,10.9,39.8,11.4,6.09,32.9,2.20
2,3,2019,32,22.8,347.9,63.5,5.5,1.4,0.6,20.3,...,6.1,6.7,57.2,2.1,11.2,35.7,11.8,5.85,31.0,1.94
3,4,2018,32,23.3,352.2,62.9,5.6,1.4,0.5,20.4,...,6.3,6.7,57.5,1.9,11.2,36.5,11.8,5.80,31.4,2.00
4,5,2017,32,21.7,334.1,63.4,5.3,1.4,0.5,19.3,...,5.7,6.7,57.8,2.0,11.5,33.8,11.4,5.69,28.9,1.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,96,1926,22,7.6,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,97,1925,20,8.9,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,98,1924,18,10.4,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,99,1923,20,7.9,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,100,1922,18,9.1,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
comb_off.columns

Index(['Rk', 'Year', 'Tms', 'PF', 'Yds', 'Ply', 'Y/P', 'TO', 'FL', '1stD',
       'Cmp', 'Att', 'Yds', 'TD', 'Int', 'NY/A', '1stD', 'Att', 'Yds', 'TD',
       'Y/A', '1stD', 'Pen', 'Yds', '1stPy', '#Dr', 'Sc%', 'TO%', 'Plays',
       'Yds', 'Pts'],
      dtype='object')

In [47]:
comb_off2 = comb_off.drop(columns = ['Rk', 'Y/P', '1stD',
       'NY/A', '1stD',
       'Y/A', '1stD', '#Dr', 'Sc%', 'TO%', 'Plays',
       'Pts'])

In [48]:
comb_off2.tail(11)

,Year,Tms,PF,Yds,Ply,TO,FL,Cmp,Att,Yds,TD,Int,Att,Yds,TD,Pen,Yds,1stPy,Yds
92,1932,8,8.2,165.1,44.6,1.0,0.0,3.9,10.9,55.2,0.4,1.0,33.7,109.9,0.6,0.0,0.0,NaN,NaN
93,1931,10,9.9,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.8,0.0,0.0,NaN,NaN
94,1930,11,10.6,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.9,0.0,0.0,NaN,NaN
95,1929,12,9.5,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.6,0.0,0.0,0.0,0.7,0.0,0.0,NaN,NaN
96,1928,10,9.5,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.6,0.0,0.0,0.0,0.7,0.0,0.0,NaN,NaN
97,1927,12,9.1,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.4,0.0,0.0,0.0,0.7,0.0,0.0,NaN,NaN
98,1926,22,7.6,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.3,0.0,0.0,0.0,0.6,0.0,0.0,NaN,NaN
99,1925,20,8.9,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.4,0.0,0.0,0.0,0.6,0.0,0.0,NaN,NaN
100,1924,18,10.4,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.4,0.0,0.0,0.0,0.7,0.0,0.0,NaN,NaN
101,1923,20,7.9,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.3,0.0,0.0,0.0,0.5,0.0,0.0,NaN,NaN
102,1922,18,9.1,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.8,0.0,0.0,NaN,NaN

In [49]:
comb_off2.columns

Index(['Year', 'Tms', 'PF', 'Yds', 'Ply', 'TO', 'FL', 'Cmp', 'Att', 'Yds',
       'TD', 'Int', 'Att', 'Yds', 'TD', 'Pen', 'Yds', '1stPy', 'Yds'],
      dtype='object')

In [61]:
comb_off3 = comb_off2.set_axis(['Year', 'Num_Teams', 'Points/G', 'Yds/G', 'Plays', 'TO', 'Fumbles', 'Cmp', 'Pass Att', 'Pass Yds',
       'Pass TD', 'Int', 'Rush Att', 'Rush Yds', 'Rush TD', 'Drop', 'Drop', 'Drop', 'Drop'], axis = 1)
comb_off3.drop(columns = ['Drop'], inplace = True)
comb_off3.tail(11)

,Year,Num_Teams,Points/G,Yds/G,Plays,TO,Fumbles,Cmp,Pass Att,Pass Yds,Pass TD,Int,Rush Att,Rush Yds,Rush TD
92,1932,8,8.2,165.1,44.6,1.0,0.0,3.9,10.9,55.2,0.4,1.0,33.7,109.9,0.6
93,1931,10,9.9,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.8
94,1930,11,10.6,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.9
95,1929,12,9.5,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.6,0.0,0.0,0.0,0.7
96,1928,10,9.5,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.6,0.0,0.0,0.0,0.7
97,1927,12,9.1,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.4,0.0,0.0,0.0,0.7
98,1926,22,7.6,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.3,0.0,0.0,0.0,0.6
99,1925,20,8.9,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.4,0.0,0.0,0.0,0.6
100,1924,18,10.4,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.4,0.0,0.0,0.0,0.7
101,1923,20,7.9,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.3,0.0,0.0,0.0,0.5
102,1922,18,9.1,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.8

In [62]:
comb_off4 = comb_off3.drop(range(93,103))
comb_off4

,Year,Num_Teams,Points/G,Yds/G,Plays,TO,Fumbles,Cmp,Pass Att,Pass Yds,Pass TD,Int,Rush Att,Rush Yds,Rush TD
0,2021,32,23.0,343.6,63.3,1.3,0.5,22.3,34.4,228.3,1.5,0.8,26.6,115.2,0.9
1,2020,32,24.8,359.0,64.3,1.3,0.5,23.0,35.2,240.2,1.7,0.8,26.9,118.9,1.0
2,2019,32,22.8,347.9,63.5,1.4,0.6,22.1,34.9,235.0,1.6,0.8,26.1,112.9,0.9
3,2018,32,23.3,352.2,62.9,1.4,0.5,22.4,34.5,237.8,1.7,0.8,25.9,114.5,0.9
4,2017,32,21.7,334.1,63.4,1.4,0.5,21.2,34.2,224.4,1.4,0.8,26.9,109.7,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,1935,9,10.9,196.2,54.2,2.2,0.0,5.2,15.4,79.7,0.6,2.2,38.8,116.4,0.6
89,1934,11,10.8,200.7,50.4,1.7,0.0,4.2,13.4,59.3,0.5,1.7,37.0,141.4,0.8
90,1933,10,9.7,198.9,50.4,2.2,0.0,5.1,14.3,77.9,0.5,2.2,36.1,121.0,0.6
91,Year,Tms,PF,Yds,Ply,TO,FL,Cmp,Att,Yds,TD,Int,Att,Yds,TD
92,1932,8,8.2,165.1,44.6,1.0,0.0,3.9,10.9,55.2,0.4,1.0,33.7,109.9,0.6

In [63]:
off_clean = comb_off4.Year != 'Year'
off_final = comb_off4[off_clean]
off_final.reset_index(inplace = True)
off_final.drop(columns = 'index', inplace = True)
off_final

C:\Users\caleb\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Year,Num_Teams,Points/G,Yds/G,Plays,TO,Fumbles,Cmp,Pass Att,Pass Yds,Pass TD,Int,Rush Att,Rush Yds,Rush TD
0,2021,32,23.0,343.6,63.3,1.3,0.5,22.3,34.4,228.3,1.5,0.8,26.6,115.2,0.9
1,2020,32,24.8,359.0,64.3,1.3,0.5,23.0,35.2,240.2,1.7,0.8,26.9,118.9,1.0
2,2019,32,22.8,347.9,63.5,1.4,0.6,22.1,34.9,235.0,1.6,0.8,26.1,112.9,0.9
3,2018,32,23.3,352.2,62.9,1.4,0.5,22.4,34.5,237.8,1.7,0.8,25.9,114.5,0.9
4,2017,32,21.7,334.1,63.4,1.4,0.5,21.2,34.2,224.4,1.4,0.8,26.9,109.7,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,1936,9,11.9,225.3,56.6,2.0,0.0,5.6,15.3,83.0,0.6,2.0,41.2,142.3,0.7
86,1935,9,10.9,196.2,54.2,2.2,0.0,5.2,15.4,79.7,0.6,2.2,38.8,116.4,0.6
87,1934,11,10.8,200.7,50.4,1.7,0.0,4.2,13.4,59.3,0.5,1.7,37.0,141.4,0.8
88,1933,10,9.7,198.9,50.4,2.2,0.0,5.1,14.3,77.9,0.5,2.2,36.1,121.0,0.6
89,1932,8,8.2,165.1,44.6,1.0,0.0,3.9,10.9,55.2,0.4,1.0,33.7,109.9,0.6

In [64]:
off_final.to_csv('C:/Users/caleb/OneDrive/Documents/Spring 2022 Classes/Directed Masters Project/Clean Data/Combined/Season Y per G.csv')