In [1]:
import pandas as pd
import plotly.express as px
import numpy as np
%matplotlib inline
from itertools import repeat
from urllib.request import urlopen
import html5lib
import ssl
import time

# Import 1978 databases from web, debug

In [2]:
rec78 = pd.read_html("https://www.pro-football-reference.com/years/1978/receiving.htm")
comb_rec = rec78[0]
comb_rec['Year'] = 1978
comb_rec.head()

,Rk,Player,Tm,Age,Pos,G,GS,Rec,Yds,Y/R,TD,Lng,Y/Tgt,R/G,Y/G,Fmb,Year
0,1,Rickey Young,MIN,25,RB,16,16,88,704,8.0,5,48,NaN,5.5,44.0,6,1978
1,2,Tony Galbreath,NOR,24,FB,16,16,74,582,7.9,2,35,NaN,4.6,36.4,6,1978
2,3,Steve Largent*,SEA,24,WR,16,16,71,1168,16.5,8,57,NaN,4.4,73.0,0,1978
3,4,Ahmad Rashad*,MIN,29,WR,16,16,66,769,11.7,8,58,NaN,4.1,48.1,2,1978
4,5,Dave Casper*+,OAK,26,TE,16,16,62,852,13.7,9,44,NaN,3.9,53.3,1,1978

In [3]:
kick78 = pd.read_html("https://www.pro-football-reference.com/years/1978/kicking.htm")
comb_kick = kick78[0]
comb_kick.columns = comb_kick.columns.droplevel()
comb_kick['Year'] = 1978
comb_kick.head()

,Rk,Player,Tm,Age,Pos,G,GS,FGA,FGM,FGA,...,KOYds,TB,TB%,KOAvg,Pnt,Yds,Lng,Blck,Y/P,Year
0,1,Frank Corral*,RAM,23,NaN,16,0,2,2,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1978
1,2,Chris Bahr,CIN,25,NaN,16,0,NaN,NaN,7,...,NaN,NaN,NaN,NaN,4,108,41,0,27.0,1978
2,3,Pat Leahy+,NYJ,27,NaN,16,0,2,2,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1978
3,4,Mark Moseley,WAS,30,NaN,16,0,NaN,NaN,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1978
4,5,Jan Stenerud,KAN,36,NaN,16,0,1,1,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1978

In [72]:
#comb_kick.rename(columns = {'FGA': 'FGA0', 'FGA': 'FGA20', 'FGA': 'FGA30', 'FGA': 'FGA40', 'FGA': 'FGA50', 'FGA': 'FGA_tot'}, inplace = True)
#comb_kick.head()

In [73]:
#comb_kick['0-19']

In [74]:
#comb_kick.loc[:, ('0-19')]

In [75]:
#comb_kick.rename(columns = {('0-19', 'FGA'): ('0-19', 'FGA0')}, inplace = True)
#comb_kick.head()

# Pull in kicking and receiving data from 1979-2021

In [3]:
years = range(1979, 2022)
years[0]

1979

In [4]:
for year in years:
    #url_kick = f"https://www.pro-football-reference.com/years/{year}/kicking.htm"
    url_rec = f"https://www.pro-football-reference.com/years/{year}/receiving.htm"
    
    #data_kick = pd.read_html(url_kick)
    data_rec = pd.read_html(url_rec)
    
    #season_kick = data_kick[0]
    season_rec = data_rec[0]
    
    #season_kick.columns = season_kick.columns.droplevel()
    
    #season_kick['Year'] = year
    season_rec['Year'] = year
    
    #comb_kick = pd.concat([comb_kick, season_kick], ignore_index = True)
    comb_rec = pd.concat([comb_rec, season_rec], ignore_index = True)
    
    time.sleep(1)

In [9]:
comb_kick

,Rk,Player,Tm,Age,Pos,G,GS,FGA,FGM,FGA,...,KOYds,TB,TB%,KOAvg,Pnt,Yds,Lng,Blck,Y/P,Year
0,1,Frank Corral*,RAM,23,NaN,16,0,2,2,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1978
1,2,Chris Bahr,CIN,25,NaN,16,0,NaN,NaN,7,...,NaN,NaN,NaN,NaN,4,108,41,0,27.0,1978
2,3,Pat Leahy+,NYJ,27,NaN,16,0,2,2,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1978
3,4,Mark Moseley,WAS,30,NaN,16,0,NaN,NaN,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1978
4,5,Jan Stenerud,KAN,36,NaN,16,0,1,1,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3317,83,Corliss Waitman,PIT,26,NaN,2,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7,365,63,0,52.1,2021
3318,84,Sterling Hofrichter,TAM,25,p,2,0,NaN,NaN,NaN,...,894,6,42.9%,63.9,6,227,45,0,37.8,2021
3319,85,JK Scott,JAX,26,p,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4,159,47,0,39.8,2021
3320,86,Alex Kessman,NYJ,23,NaN,1,0,NaN,NaN,NaN,...,246,1,25.0%,61.5,NaN,NaN,NaN,NaN,NaN,2021
3321,87,Cody Parkey,NOR,29,NaN,1,0,NaN,NaN,NaN,...,195,1,33.3%,65.0,NaN,NaN,NaN,NaN,NaN,2021

In [5]:
comb_rec

,Rk,Player,Tm,Age,Pos,G,GS,Rec,Yds,Y/R,TD,Lng,Y/Tgt,R/G,Y/G,Fmb,Year,Tgt,Ctch%,1D
0,1,Rickey Young,MIN,25,RB,16,16,88,704,8.0,5,48,NaN,5.5,44.0,6,1978,NaN,NaN,NaN
1,2,Tony Galbreath,NOR,24,FB,16,16,74,582,7.9,2,35,NaN,4.6,36.4,6,1978,NaN,NaN,NaN
2,3,Steve Largent*,SEA,24,WR,16,16,71,1168,16.5,8,57,NaN,4.4,73.0,0,1978,NaN,NaN,NaN
3,4,Ahmad Rashad*,MIN,29,WR,16,16,66,769,11.7,8,58,NaN,4.1,48.1,2,1978,NaN,NaN,NaN
4,5,Dave Casper*+,OAK,26,TE,16,16,62,852,13.7,9,44,NaN,3.9,53.3,1,1978,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18725,508,Seth Williams,DEN,21,wr,2,1,1,34,34.0,0,34,34.0,0.5,17.0,0,2021,1,100.0%,1
18726,509,Trayveon Williams,CIN,24,NaN,5,0,1,4,4.0,0,4,2.0,0.2,0.8,0,2021,2,50.0%,0
18727,Rk,Player,Tm,Age,Pos,G,GS,Rec,Yds,Y/R,TD,Lng,Y/Tgt,R/G,Y/G,Fmb,2021,Tgt,Ctch%,1D
18728,510,Easop Winston,NOR,25,NaN,3,1,1,5,5.0,0,5,5.0,0.3,1.7,0,2021,1,100.0%,0
18729,511,Deon Yelder,TAM,26,NaN,5,0,1,0,0.0,0,0,0.0,0.2,0.0,0,2021,1,100.0%,0

# Clean the data

In [10]:
comb_kick.columns

Index(['Rk', 'Player', 'Tm', 'Age', 'Pos', 'G', 'GS', 'FGA', 'FGM', 'FGA',
       'FGM', 'FGA', 'FGM', 'FGA', 'FGM', 'FGA', 'FGM', 'FGA', 'FGM', 'Lng',
       'FG%', 'XPA', 'XPM', 'XP%', 'KO', 'KOYds', 'TB', 'TB%', 'KOAvg', 'Pnt',
       'Yds', 'Lng', 'Blck', 'Y/P', 'Year'],
      dtype='object')

In [11]:
comb_kick.set_axis(['Rk', 'Player', 'Tm', 'Age', 'Pos', 'G', 'GS', 'FGA0', 'FGM0', 'FGA20',
       'FGM20', 'FGA30', 'FGM30', 'FGA40', 'FGM40', 'FGA50', 'FGM50', 'FGA_tot', 'FGM_tot', 'Lng',
       'FG%', 'XPA', 'XPM', 'XP%', 'KO', 'KOYds', 'TB', 'TB%', 'KOAvg', 'Pnt',
       'Yds', 'Lng', 'Blck', 'Y/P', 'Year'], axis = 1, inplace = True)
comb_kick.head()

,Rk,Player,Tm,Age,Pos,G,GS,FGA0,FGM0,FGA20,...,KOYds,TB,TB%,KOAvg,Pnt,Yds,Lng,Blck,Y/P,Year
0,1,Frank Corral*,RAM,23,NaN,16,0,2,2,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1978
1,2,Chris Bahr,CIN,25,NaN,16,0,NaN,NaN,7,...,NaN,NaN,NaN,NaN,4,108,41,0,27.0,1978
2,3,Pat Leahy+,NYJ,27,NaN,16,0,2,2,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1978
3,4,Mark Moseley,WAS,30,NaN,16,0,NaN,NaN,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1978
4,5,Jan Stenerud,KAN,36,NaN,16,0,1,1,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1978

In [13]:
comb_kick.drop(columns = ['KO', 'KOYds', 'TB', 'TB%', 'KOAvg', 'Pnt',
       'Yds', 'Lng', 'Blck', 'Y/P'], inplace = True)
comb_kick.head()

,Rk,Player,Tm,Age,Pos,G,GS,FGA0,FGM0,FGA20,...,FGM40,FGA50,FGM50,FGA_tot,FGM_tot,FG%,XPA,XPM,XP%,Year
0,1,Frank Corral*,RAM,23,NaN,16,0,2,2,15,...,6,1,NaN,43,29,67.4%,33,31,93.9%,1978
1,2,Chris Bahr,CIN,25,NaN,16,0,NaN,NaN,7,...,6,3,1,30,16,53.3%,29,26,89.7%,1978
2,3,Pat Leahy+,NYJ,27,NaN,16,0,2,2,5,...,6,2,NaN,30,22,73.3%,42,41,97.6%,1978
3,4,Mark Moseley,WAS,30,NaN,16,0,NaN,NaN,4,...,8,6,2,30,19,63.3%,31,30,96.8%,1978
4,5,Jan Stenerud,KAN,36,NaN,16,0,1,1,10,...,5,3,NaN,30,20,66.7%,26,25,96.2%,1978

In [14]:
comb_kick.shape

(3322, 24)

In [15]:
real_kick = comb_kick.Player != 'Player'
comb_kick = comb_kick[real_kick]
comb_kick

,Rk,Player,Tm,Age,Pos,G,GS,FGA0,FGM0,FGA20,...,FGM40,FGA50,FGM50,FGA_tot,FGM_tot,FG%,XPA,XPM,XP%,Year
0,1,Frank Corral*,RAM,23,NaN,16,0,2,2,15,...,6,1,NaN,43,29,67.4%,33,31,93.9%,1978
1,2,Chris Bahr,CIN,25,NaN,16,0,NaN,NaN,7,...,6,3,1,30,16,53.3%,29,26,89.7%,1978
2,3,Pat Leahy+,NYJ,27,NaN,16,0,2,2,5,...,6,2,NaN,30,22,73.3%,42,41,97.6%,1978
3,4,Mark Moseley,WAS,30,NaN,16,0,NaN,NaN,4,...,8,6,2,30,19,63.3%,31,30,96.8%,1978
4,5,Jan Stenerud,KAN,36,NaN,16,0,1,1,10,...,5,3,NaN,30,20,66.7%,26,25,96.2%,1978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3317,83,Corliss Waitman,PIT,26,NaN,2,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
3318,84,Sterling Hofrichter,TAM,25,p,2,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
3319,85,JK Scott,JAX,26,p,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
3320,86,Alex Kessman,NYJ,23,NaN,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,0.0%,2021
3321,87,Cody Parkey,NOR,29,NaN,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5,3,60.0%,2021

In [16]:
comb_kick['Player'] = comb_kick['Player'].str.replace(r'[*+]', '', regex = True)
comb_kick

<ipython-input-16-34eac29f1ac4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  comb_kick['Player'] = comb_kick['Player'].str.replace(r'[*+]', '', regex = True)

,Rk,Player,Tm,Age,Pos,G,GS,FGA0,FGM0,FGA20,...,FGM40,FGA50,FGM50,FGA_tot,FGM_tot,FG%,XPA,XPM,XP%,Year
0,1,Frank Corral,RAM,23,NaN,16,0,2,2,15,...,6,1,NaN,43,29,67.4%,33,31,93.9%,1978
1,2,Chris Bahr,CIN,25,NaN,16,0,NaN,NaN,7,...,6,3,1,30,16,53.3%,29,26,89.7%,1978
2,3,Pat Leahy,NYJ,27,NaN,16,0,2,2,5,...,6,2,NaN,30,22,73.3%,42,41,97.6%,1978
3,4,Mark Moseley,WAS,30,NaN,16,0,NaN,NaN,4,...,8,6,2,30,19,63.3%,31,30,96.8%,1978
4,5,Jan Stenerud,KAN,36,NaN,16,0,1,1,10,...,5,3,NaN,30,20,66.7%,26,25,96.2%,1978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3317,83,Corliss Waitman,PIT,26,NaN,2,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
3318,84,Sterling Hofrichter,TAM,25,p,2,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
3319,85,JK Scott,JAX,26,p,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
3320,86,Alex Kessman,NYJ,23,NaN,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,0.0%,2021
3321,87,Cody Parkey,NOR,29,NaN,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5,3,60.0%,2021

In [6]:
comb_rec.drop(columns = ['1D'], inplace = True)
comb_rec

,Rk,Player,Tm,Age,Pos,G,GS,Rec,Yds,Y/R,TD,Lng,Y/Tgt,R/G,Y/G,Fmb,Year,Tgt,Ctch%
0,1,Rickey Young,MIN,25,RB,16,16,88,704,8.0,5,48,NaN,5.5,44.0,6,1978,NaN,NaN
1,2,Tony Galbreath,NOR,24,FB,16,16,74,582,7.9,2,35,NaN,4.6,36.4,6,1978,NaN,NaN
2,3,Steve Largent*,SEA,24,WR,16,16,71,1168,16.5,8,57,NaN,4.4,73.0,0,1978,NaN,NaN
3,4,Ahmad Rashad*,MIN,29,WR,16,16,66,769,11.7,8,58,NaN,4.1,48.1,2,1978,NaN,NaN
4,5,Dave Casper*+,OAK,26,TE,16,16,62,852,13.7,9,44,NaN,3.9,53.3,1,1978,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18725,508,Seth Williams,DEN,21,wr,2,1,1,34,34.0,0,34,34.0,0.5,17.0,0,2021,1,100.0%
18726,509,Trayveon Williams,CIN,24,NaN,5,0,1,4,4.0,0,4,2.0,0.2,0.8,0,2021,2,50.0%
18727,Rk,Player,Tm,Age,Pos,G,GS,Rec,Yds,Y/R,TD,Lng,Y/Tgt,R/G,Y/G,Fmb,2021,Tgt,Ctch%
18728,510,Easop Winston,NOR,25,NaN,3,1,1,5,5.0,0,5,5.0,0.3,1.7,0,2021,1,100.0%
18729,511,Deon Yelder,TAM,26,NaN,5,0,1,0,0.0,0,0,0.0,0.2,0.0,0,2021,1,100.0%

In [7]:
real_rec = comb_rec.Player != 'Player'
comb_rec = comb_rec[real_rec]
comb_rec

,Rk,Player,Tm,Age,Pos,G,GS,Rec,Yds,Y/R,TD,Lng,Y/Tgt,R/G,Y/G,Fmb,Year,Tgt,Ctch%
0,1,Rickey Young,MIN,25,RB,16,16,88,704,8.0,5,48,NaN,5.5,44.0,6,1978,NaN,NaN
1,2,Tony Galbreath,NOR,24,FB,16,16,74,582,7.9,2,35,NaN,4.6,36.4,6,1978,NaN,NaN
2,3,Steve Largent*,SEA,24,WR,16,16,71,1168,16.5,8,57,NaN,4.4,73.0,0,1978,NaN,NaN
3,4,Ahmad Rashad*,MIN,29,WR,16,16,66,769,11.7,8,58,NaN,4.1,48.1,2,1978,NaN,NaN
4,5,Dave Casper*+,OAK,26,TE,16,16,62,852,13.7,9,44,NaN,3.9,53.3,1,1978,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18724,507,Christian Wilkins,MIA,26,DT,17,17,1,1,1.0,1,1,1.0,0.1,0.1,1,2021,1,100.0%
18725,508,Seth Williams,DEN,21,wr,2,1,1,34,34.0,0,34,34.0,0.5,17.0,0,2021,1,100.0%
18726,509,Trayveon Williams,CIN,24,NaN,5,0,1,4,4.0,0,4,2.0,0.2,0.8,0,2021,2,50.0%
18728,510,Easop Winston,NOR,25,NaN,3,1,1,5,5.0,0,5,5.0,0.3,1.7,0,2021,1,100.0%
18729,511,Deon Yelder,TAM,26,NaN,5,0,1,0,0.0,0,0,0.0,0.2,0.0,0,2021,1,100.0%

In [9]:
comb_rec['Player'] = comb_rec['Player'].str.replace(r'[*+]', '', regex = True)
comb_rec

<ipython-input-9-a81d823a7e8b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  comb_rec['Player'] = comb_rec['Player'].str.replace(r'[*+]', '', regex = True)

,Rk,Player,Tm,Age,Pos,G,GS,Rec,Yds,Y/R,TD,Lng,Y/Tgt,R/G,Y/G,Fmb,Year,Tgt,Ctch%
0,1,Rickey Young,MIN,25,RB,16,16,88,704,8.0,5,48,NaN,5.5,44.0,6,1978,NaN,NaN
1,2,Tony Galbreath,NOR,24,FB,16,16,74,582,7.9,2,35,NaN,4.6,36.4,6,1978,NaN,NaN
2,3,Steve Largent,SEA,24,WR,16,16,71,1168,16.5,8,57,NaN,4.4,73.0,0,1978,NaN,NaN
3,4,Ahmad Rashad,MIN,29,WR,16,16,66,769,11.7,8,58,NaN,4.1,48.1,2,1978,NaN,NaN
4,5,Dave Casper,OAK,26,TE,16,16,62,852,13.7,9,44,NaN,3.9,53.3,1,1978,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18724,507,Christian Wilkins,MIA,26,DT,17,17,1,1,1.0,1,1,1.0,0.1,0.1,1,2021,1,100.0%
18725,508,Seth Williams,DEN,21,wr,2,1,1,34,34.0,0,34,34.0,0.5,17.0,0,2021,1,100.0%
18726,509,Trayveon Williams,CIN,24,NaN,5,0,1,4,4.0,0,4,2.0,0.2,0.8,0,2021,2,50.0%
18728,510,Easop Winston,NOR,25,NaN,3,1,1,5,5.0,0,5,5.0,0.3,1.7,0,2021,1,100.0%
18729,511,Deon Yelder,TAM,26,NaN,5,0,1,0,0.0,0,0,0.0,0.2,0.0,0,2021,1,100.0%

In [11]:
new_rec = comb_rec[comb_rec.Year >= 1992]
new_rec

,Rk,Player,Tm,Age,Pos,G,GS,Rec,Yds,Y/R,TD,Lng,Y/Tgt,R/G,Y/G,Fmb,Year,Tgt,Ctch%
5352,1,Sterling Sharpe,GNB,27,WR,16,16,108,1461,13.5,13,76,9.0,6.8,91.3,2,1992,162,66.7%
5353,2,Andre Rison,ATL,25,WR,15,13,93,1119,12.0,11,71,7.8,6.2,74.6,2,1992,144,64.6%
5354,3,Haywood Jeffires,HOU,28,WR,16,16,90,913,10.1,9,47,6.6,5.6,57.1,1,1992,138,65.2%
5355,4,Jerry Rice,SFO,30,WR,16,16,84,1201,14.3,10,80,8.6,5.3,75.1,2,1992,139,60.4%
5356,5,Curtis Duncan,HOU,27,WR,16,16,82,954,11.6,1,72,8.7,5.1,59.6,0,1992,110,74.5%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18724,507,Christian Wilkins,MIA,26,DT,17,17,1,1,1.0,1,1,1.0,0.1,0.1,1,2021,1,100.0%
18725,508,Seth Williams,DEN,21,wr,2,1,1,34,34.0,0,34,34.0,0.5,17.0,0,2021,1,100.0%
18726,509,Trayveon Williams,CIN,24,NaN,5,0,1,4,4.0,0,4,2.0,0.2,0.8,0,2021,2,50.0%
18728,510,Easop Winston,NOR,25,NaN,3,1,1,5,5.0,0,5,5.0,0.3,1.7,0,2021,1,100.0%
18729,511,Deon Yelder,TAM,26,NaN,5,0,1,0,0.0,0,0,0.0,0.2,0.0,0,2021,1,100.0%

# Save the final workbooks

In [12]:
new_rec.to_csv('C:/Users/caleb/OneDrive/Documents/Spring 2022 Classes/Directed Masters Project/Clean Data/Combined/Receiving.csv')

In [17]:
comb_kick.to_csv('C:/Users/caleb/OneDrive/Documents/Spring 2022 Classes/Directed Masters Project/Clean Data/Combined/Kicking.csv')